

<div class="container">
  <h1 class="text-center" id="trip">My Cocktails</h1>
  <div class="cards">

    <div class="row">
      <% @cocktail.each do |cocktail| %>

              <!-- Code your cards  here -->
          <div class="col-xs-12 col-sm-4">




            <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
              </div>
              <a class="card-link" href="#" ></a>
            </div>




          </div>
      <% end %>
    </div>
  </div>
</div>


