<h1>Liste des cocktails</h1>

<% @cocktail.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>

<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>


