// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background-image: url("https://cache.marieclaire.fr/data/fichiers/cuisine/4x/cocktail-canchanchara2.jpg");
  color: white;
}

a {
  color: white;
}
